@import 'parts/reset';
@import "parts/config";
@import "parts/type";
@import 'parts/misc';
@import "parts/base/colors";

@import "parts/components/HeadStreak";
@import "parts/aside";
@import "parts/main";
@import "parts/nav";

.content--wrapper {

  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;

}
