.main--header {



}

.header--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vw;
  background-color: #78909C;
  color: $white;
  .header--title {
    font-size: 3vmax;
    font-family: $headingFont;
  }
}